body {
  background-image: url(images/bg-cool.png);
}

#logo {
  float: left;
  width: 300px;
  height: 170px;
  background-image: url(images/premo.png);
  background-repeat: no-repeat;
  margin: 5px 0 5px 10px;
}

header,
nav,
article,
section,
footer {
  border: 1px dashed red;
}

header {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin-right: 18%;
}

h2 {
  text-align: center;
}

#banner-content {
  padding-top: 30px;
  text-align: center;
}

#banner-content a {
  color: darkblue;
  text-decoration: none;
}

#banner-content a:hover {
  text-decoration: underline;
}

nav {
  background-color: rgb(221, 221, 221);
  /* width: 10%;
  min-width: 220px;
  height: 1100px; */
}

#menu ul li {
  list-style-type:none;
}

#menu ul li:hover > ul a {
  display: block;
  text-align: center;
  float:initial;
  position: relative;
  min-width: 90%;
  
}


/* #menu ul li a a:hover {
  background-color: #ccc;
  display: block;
  text-align: center;
  min-width: 11.2%;
} */

/* #meddia {
  position: relative;
  width: 152px;
} */

/* #meddia:hover {
    display: block;
    text-align: center;
    position: relative;
    min-width: 11.2%;
    float:none;

} */

/* #menu ul ul li li li a {
  text-decoration:none;
  color: #000;
  display: block;
  border: 1px solid black;
  padding: 4px;
  text-align: center;
  background-color: #eff0f1;
} */

/* #meddia ul ul a {
  display: none;
  position: relative;
  bottom: 26px;
  left: 100%;
} */

/* #meddia ul li a:hover> ul a {
  display: block;
  text-align: center;
  float: left;
  position: relative;
  min-width: 90%;
  
} */

#menu ul li a {
  text-decoration:none;
  color: #000;
  display: block;
  border: 1px solid black;
  padding: 4px;
  text-align: center;
  background-color: #eff0f1;
}

#menu ul ul a {
  display: none;
  position: absolute;
  bottom: 26px;
  left: 100%;

}

nav {
  opacity: 0.8;
  float: left;
  width: 10%;
  min-width: 200px;
  height: 1100px;
  margin: 0 30px 0 30px;
}

section {
  background-color: #f6f6f6;
  float: left;
  width: 89%;
  max-width: 800px;
  height: 1100px;
}

article {
  width: 96%;
  height: 950px;
  max-width: 700px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  line-height: 1.8em;
  padding: 20px;
  overflow: auto;
}

footer {
  width: 100%;
  height: 100px;
  margin: 10px 0 20px 0;
  float: left;
  background-color: slategray;
  color: white;
  line-height: 60px;
  opacity: 0.8;
}

#container {
  width: 1180px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

article img {
  float: left;
  margin-right: 30px;
}
